<div class="container">
  <h1 class="text-center">
    Chat-app

  </h1>
  <br />
  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div id="chat">
          <input type="text" id="username" [(ngModel)]="name" class="form-control" placeholder="Enter name..." />
          <br />

          <textarea id="textarea" class="form-control" [(ngModel)]="message" placeholder="Enter message..."></textarea>
          <br />
          <button class="btn btn-primary" (click)="sendMessage()">
            Send
          </button>
          
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="card" id="messages" *ngIf="chats.length > 0">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of chats">
              <b>{{ item.name }}</b>:
              {{ item.message }}
            </li>
          </ul>
        </div>
        <br>
        <button id="clear" class="btn btn-danger" *ngIf="chats.length > 0" (click)="clear()">Clear</button>
      </div>

    </div>
  </div>
</div>